.gif-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 21px;
  row-gap: 25px;
  max-width: 90%;
  overflow-x: hidden;
  margin: auto;
  .gif-container {
    height: 120px;
    max-width: 156px;
    overflow: hidden;
    margin: auto;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
}
.trending-container {
  text-align: center;
  margin: auto;
  background: #f3f5f8;
  h2 {
    padding-top: 46px;
  }
  .trending-text {
    &:nth-child(3) {
      margin-bottom: 32px;
    }
  }
  #trending {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 82px;
    &::-webkit-scrollbar {
      display: none;
    }
    .gif-container {
      height: 187px;
      min-width: 243px;
      margin-left: 27px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
