.search {
  @extend .center;
  flex-direction: column;
  .title {
    max-width: 286px;
    text-align: center;
    .secondary-color {
      color: $secondary-color;
    }
  }
  .search-box {
    @extend .center;
    flex-direction: column;
    #search-img-top {
      max-width: 65vw;
    }
    #user-input {
      border: 1px solid $main-color;
      border-radius: 27px;
      height: 50px;
      width: 80vw;
    }
    #user-search {
      background-color: transparent;
      height: 20px;
      width: 20px;
      margin-top: -36px;
      margin-left: 275px;
    }
  }
}
